<div class="container-fluid">


  <h2 class="text-center">{{title}}</h2>


  <div class="row">
    <div class="col-sm-4 offset-sm-3">
      <input class ="form-control form-control-lg" id="link" type="text" placeholder="Link to Play Here"/>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-outline-primary" id="submit" type="button" name="button">Get Data!</button>
    </div>

  </div>

<div id="anchor">
      <div id="table-anchor"> </div>
</div>




</div>
